<h2>Show Entry</h2>

<ul>

  <!-- <li>
    <strong>Uid:</strong>
    <%= @entry.uid %>
  </li> -->

  <li>
    <strong>Name:</strong>
    <%= @entry.name %>
  </li>

  <li>
    <strong>Secret:</strong>
    <%= decrypt_value(@entry.user_id, @entry.secret) %>
  </li>

</ul>

<span><%= link "Edit", to: entry_path(@conn, :edit, @entry), class: "btn btn-link" %></span>
<span><%= link "List entries", to: entry_path(@conn, :index), class: "btn btn-link" %></span>
