<h2>Edit Secret</h2>

<%= render "form.html", Map.put(assigns, :action, secret_path(@conn, :update)) |> Map.put(:update_mode, true) |> Map.put(:method, "put") %>

<span><%= link "Back", to: secret_path(@conn, :show) %></span>
