<h2>Create Secret</h2>

<%= render "form.html", Map.put(assigns, :action, secret_path(@conn, :create)) |> Map.put(:update_mode, false) %>

<span><%= link "Back", to: secret_path(@conn, :show) %></span>
