<h2>Create Secret</h2>

<%= render "form.html", Map.put(assigns, :action, secret_path(@conn, :create)) |> Map.put(:update_mode, false) |> Map.put(:method, "post") %>

<span><%= link "Back", to: @conn.assigns[:prev_path] || secret_path(@conn, :show) %></span>
<span><%= link "Main Page", to: page_path(@conn, :index) %></span>
