<h2>Verify Secret</h2>

<%= render "form.html", Map.put(assigns, :action, secret_path(@conn, :verify)) |> Map.put(:update_mode, false) |> Map.put(:method, "patch") %>

<span><%= link "Back", to: @conn.assigns[:prev_path] || secret_path(@conn, :show) %></span>
